body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Hanken Grotesk", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(233, 232, 232);
  box-sizing: border-box;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin: 1em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.main_components {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.Score-Companent {
  padding-top: 1.4rem;
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 0 0 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.circle {
  border-radius: 50%;
  background-color: hsla(256, 72%, 46%, 1);
  border: solid 1px hsl(241, 81%, 54%);
  width: 7rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.result {
  font-size: 1.4em;
  color: hsla(0, 2%, 76%);
}
#bignumber {
  font-size: 3rem;
  color: white;
}
.hundred {
  color: rgb(136, 135, 135);
  font-size: 1rem;
}
#Great {
  margin-top: 0.2rem;
  color: white;
  font-size: 2rem;
}
#paragraph {
  max-width: 25ch;
  text-align: center;
  color: rgb(223, 223, 223);
}

.cardComponent {
  width: 70%;
  flex: 1;
  align-items: flex-start;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 0.5rem;
}

.card {
  flex: 1;
  width: 100%;
  display: flex;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
}

#reaction {
  background-color: hsla(0, 84%, 83%, 0.2);
}
#Visual {
  background-color: hsla(234, 85%, 45%, 0.2);
}
#Memory {
  background-color: hsla(39, 100%, 56%, 0.2);
}
#verbal {
  background-color: hsla(166, 100%, 37%, 0.2);
}
#span-text-recation {
  color: hsl(0, 100%, 67%);
}
#span-text-visual {
  color: hsla(234, 85%, 45%);
}
#span-text-memory {
  color: hsl(39, 100%, 56%);
}
#span-text-verbal {
  color: hsl(166, 100%, 37%);
}
.span-text {
  font-size: 1rem;
  color: black;
}
#Continue {
  background-color: rgb(1, 1, 45);
  width: 80%;
  border-radius: 30px;
  color: white;
  font-size: 1em;
  font-weight: 300;
  margin-left: 2rem;
  padding: 4%;
}
h3 {
  margin: 0;
}
#Continue:active {
  background-color: hsl(234, 85%, 45%);
}
@media only screen and (min-width: 900px) {
  h3,
  #Continue {
    margin: 1rem;
  }
  .main_components {
    flex-direction: row;
    width: 50%;
    margin-top: 20%;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    flex-grow: 0;
    flex-basis: auto;
    align-items: flex-end;
    align-items: stretch;
    min-height: 47vh;
  }
  .cardComponent,
  .Score-Companent {
    border-radius: 20px;
    width: 50%;
    padding-bottom: 4%;
  }
  .cardComponent {
    background-color: white;
    border-bottom-left-radius: 0%;
    align-items: start;
    margin-left: 2rem;
  }
  .card,
  #Continue {
    width: 80%;
    margin-left: 0%;
  }
  #Continue {
    margin-left: 1em;
  }
}
